@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./libs/responsive.scss";
@import "./libs/mixins.scss";

$font-default: 'Comfortaa', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

/* Colors */
$color-primary: #FBEC4F;
$color-default: #2A2C68;
$color-secondary: #616161;

/* Animations */
$animation-speed-normal: 0.5s;
$animation-speed-fast: 0.9s;
$cb: cubic-bezier(.05, .61, .41, .95);

/* Fonts*/
$font-tech: 'Minimo', sans-serif;

:root {
    /* Smooth scroll behavior */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Minimo';
    src: url('Minimo-Regular.eot');
    src: url('Minimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Minimo-Regular.woff2') format('woff2'),
        url('Minimo-Regular.woff') format('woff'),
        url('Minimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('Comfortaa-Regular.eot');
    src: url('Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
        url('Comfortaa-Regular.woff2') format('woff2'),
        url('Comfortaa-Regular.woff') format('woff'),
        url('Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular.eot');
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Regular.woff2') format('woff2'),
        url('OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

body {
    font-family: $font-default;
    background-color: #FFF;
    /* Expanding flex cards */
    transition: 0.25s;
}

/* main */

.main {
    background-image: url("../img/main-background.png");
    background-position: center top;
    background-repeat: no-repeat;
}

/* Navbar */

.navbar-scrolled {
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    opacity: 0.98;
}

.navbar {
    padding: 15px 0;
    transition: background-color 0.25s ease-in-out;

    @media screen and (max-width: 991px) {
        background-color: white;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        opacity: 0.98;
    }
}

.sat-logo {
    width: 166px;
    height: 32.13px;
    padding-top: 0;

    @media #{$large-down} {
        width: 166px;
        margin-left: 0;
    }
}

nav ul li {
    padding: 0 30px 0 30px;

    @media #{$large-down} {
        padding: 0 15px 0 15px;
    }

    @media screen and (max-width: 1199px) {
        padding: 0 7px 0 7px;
    }
}

.nav-link {
    @include text(15px, 120%, 700, $color-default);
    white-space: nowrap;
}

.n-b {
    height: 44px;
    width: 123px;

    @media #{$large-down} {
        width: 110px;
    }
}

.btn-career {
    @include text(15px, 120%, 700, $color-default);
    height: 44px;
    border-color: $color-default;
    border-radius: 50px;
    padding: 13px 30px;
    gap: 10px;
    background: transparent;
    font-style: normal;

    &:hover {
        background: lighten($color-default, 20%);
        border: none;
    }
}

.btn-contact {
    @extend .btn-career;
    color: $color-primary;
    background: $color-default;
}

.nav-btn-sm {
    display: none !important;

    @media screen and (max-width: 991px) {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
         margin-left: 14px;
    }
}

@media #{$medium-down} {

    .navbar-nav {
        margin-top: 9px;
    }
}

@media screen and (max-width: 991px) {

    .d-m {
        border: none;
        text-align: center;
    }

    .nav-btn-lg {
        display: none !important;
    }
}

/* Hero section */

.hero {
    margin-top: -15px;
}

.title-main {
    padding-top: 190px;
    @include text(57px, 120%, 700, $color-default);

    @media #{$small-down} {
        font-size: 27px !important;
    }

    @media #{$medium-down} {
        font-size: 40px;
    }
}

.title-underline {
    z-index: 1;
}

.yellow-underline {
    border-radius: 10px;
    background-color: $color-primary;
    height: 15%;
    width: 100%;
    bottom: 6px;
    left: 0;
    z-index: -1;
}

.title-desc {
    @include text(15px, 160%, normal, $color-secondary);
    font-family: $font-secondary;
    width: 513px;

    @media screen and (max-width: 530px) {
        width: auto;
    }
}

.estimate {
    margin-top: 60px;
}

.btn-estimate {
    @extend .btn-career;
    width: 208px;
    color: $color-primary;
    background: $color-default;
    white-space: nowrap;
}

.h3 {
    @include text(29px, 120%, 700, $color-default);
    margin-top: 139px;
}

.row-1 {
    margin-top: 43px;
    gap: 60px;
}

.card-1 {
    height: 250px;
    width: 350px;
    padding: 39px 0 25px 0;
    border-radius: 25px;
    flex-shrink: 0;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);

    @media #{$x-small-down} {
        width: 300px;
    }
}

.y-cd {
    background-color: $color-primary;
}

.card-img {
    width: 47.813px;
    height: 47.813px;
    flex-shrink: 0;
}

.card-title-1 {
    @include text(23px, 120%, 700, $color-default);
    width: 314px;
    flex-shrink: 0;

    @media #{$x-small-down} {
        font-size: 22px;
    }
}

.card-text-1 {
    @include text(15px, 160%, normal, $color-secondary);
    width: 319px;
    font-family: $font-secondary;
    flex-shrink: 0;
}

/* Partners */

.partners {
    margin-top: 75px;
}

.part-text {
    @include text(15px, 120%, 600, $color-secondary);
    font-family: $font-secondary;
}

.part-logos {
    margin-top: 43px;
}

.part-row {
    gap: 30px;

    @media #{$medium-down} {
        gap: 58px;
        padding-left: 15px;
    }
}

.p-logo {
    filter: grayscale(100%);
    transition: all .4s ease;
    opacity: .5;
    
    &:hover{
        filter: grayscale(0%);
        transition: all .4s ease;
        opacity: 1.0;
    }
}

/* Business unit */

.business {
    margin-top: 138px;
}

.section-title {
    @include text(42px, 120%, 700, $color-default);
    width: fit-content;
    
    &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    background: $color-primary;
    width: 100%;
    height: 7px;
    border-radius: 30px;
    }
}

.section-desc {
    @include text(15px, 160%, 400, $color-secondary);
    margin-top: 28px;
    font-family: $font-secondary;
    flex-shrink: 0;
}

/* Expanding flex cards */

.business-btn {
    width: fit-content;
    background: 0 0;
    border: 0px solid transparent;
    z-index: 20;
    margin-top: 8px;
}

.business-icon {
    border-radius: 42px;
    background: $color-primary;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.business-cards {
    gap: 1rem;

    @media #{$medium-up} {
        width: 100% !important;
        height: 560px !important;
        margin: 0 auto;
        flex-direction: row !important;
    }
}

.business-card {
    cursor: pointer;
    height: 167px;
    border-radius: 0px 0px 30px 0px;
    background-repeat: no-repeat !important;
    transition: all $animation-speed-normal ease-in-out;

    @media #{$medium-up} {
        width: 170px;
        height: 100%;
        flex: 0 0 20%;
    }

    &.active {
        height: 350px;

        .label {
            bottom: 20px;
            left: 20px;
        }
        
        .title2 {
            display: none;
        }

        @media #{$medium-up} {
            height: auto;
            flex: 0 0 calc(40%);
        }
    }
}

.label {
    right: 0;
    height: 40px;
    transition: 0.5s $cb;
}

.title,
.title2 {
    @include text(37px, 120%, 700, #FFF);
}

.desc {
    @include text(19px, 160%, 400, #FFF);
    font-family: $font-secondary;
    transition: opacity $animation-speed-fast ease-in-out;
    opacity: 1;
}

.ec-text {
    display: block;
    bottom: 85%;
    opacity: 1;
    margin-left: 10px;
    transition: 1s $cb;
    transition: all $animation-speed-normal ease-in-out;
}


.blue-rect {
    background-color: $color-default;
    width: 85px;
    height: 100px;
    border-radius: 0 35px 0 0;
    z-index: -1;
    bottom: -2px;
    left: -10px;

    &.active {
        width: 93px;
        height: 187px;
        bottom: 10px;
        left: -20px;
    }
}

.business-card:not(.active) {
    .title2{
        position: absolute;
        transform-origin: 0 -50%;
        transform: rotate(-90deg);
        bottom: 0;
        left: -20px;
        bottom: -60px;
    }
    
    .label {
        bottom: 10px;
        left: 10px;
    }

    .ec-text {
        display: none;
    }

    .desc {
        opacity: 0;
    }
}

/* card-retail */

.card-rtl.active {
    background: linear-gradient(180deg, rgba(28, 38, 75, 0.00) 0%, rgba(28, 38, 75, 0.90) 100%), url("../img/img-rtl.png"), lightgray -241.243px -135px / 184.647% 123.81% no-repeat;
    background-position: 34% 37% !important;
}

.card-rtl:not(.active) {
    background: url("../img/img-rtl.png");
    background-position: 34% 37% !important;
}

@media #{$medium-up} {
    .blue-rect {
        bottom: 10px;
    }

    .title2 {
        font-size: 46px;
        transition: $animation-speed-normal ease-in-out;
    }

    .card-rtl:not(.active) {
        background-position: 34% 77% !important;
    }

    .card-rtl.active {
        background-position: 34% 77% !important;
    }

}

/* card-smb */

.card-smb.active {
    background: linear-gradient(180deg, rgba(28, 38, 75, 0.00) 0%, rgba(28, 38, 75, 0.90) 100%), url("../img/img-smb.png"), lightgray -241.243px -135px / 184.647% 123.81% no-repeat;
    background-position: 60% !important;
}

.card-smb:not(.active) {
    background: url("../img/img-smb.png");
    background-position: 60% 34% !important;
}

@media #{$medium-up} {
    .card-smb:not(.active) {
        background-position: 65% !important;
    }
}

/* card-fsi */

.card-fsi.active {
    background: linear-gradient(180deg, rgba(28, 38, 75, 0.00) 0%, rgba(28, 38, 75, 0.90) 100%), url("../img/img-fsi.png"), lightgray -241.243px -135px / 184.647% 123.81% no-repeat;
    background-position: 55% 18% !important;
}

.card-fsi:not(.active) {
    background: url("../img/img-fsi.png");
    background-position: 55% 18% !important;
}

@media #{$medium-up} {
    .card-fsi.active {
        background-position: 63% 37% !important;
    }

    .card-fsi:not(.active) {
        background-position: 63% 37% !important;
    }
}

/* card-cloud */

.card-cld.active {
    background: linear-gradient(180deg, rgba(28, 38, 75, 0.00) 0%, rgba(28, 38, 75, 0.90) 100%), url("../img/img-cld.png"), lightgray -241.243px -135px / 184.647% 123.81% no-repeat;
    background-position: 40% 15% !important;
}

.card-cld:not(.active) {
    background: url("../img/img-cld.png");
    background-position: 40% 15% !important;
}

@media #{$medium-up} {
    .card-cld.active {
        background-position: center 37% !important;
    }

    .card-cld:not(.active) {
        background-position: center 37% !important;
    }
}

/* whatwedo section*/

.whatwedo {
    margin-top: 119px;
    padding-bottom: 25px;
}

/* tiny slider */

.slider-container {
    max-width: fit-content;
    margin-top: 97px;
    padding: 2rem 0;
    margin: 2rem auto 0 auto;
    border-radius: 5px;
}

.slider-img {
    max-width: 100%;
    padding-top: 22px;
}

.slider-item {
    padding: 1.5rem 0;
}

.slider-item:hover{
    cursor: pointer;
}

.controls {
    gap: 12px;
    z-index: 21;
    list-style: none;
    bottom: 0;
}

.controls li:hover{
    cursor: pointer;
}

.controls:focus{
    outline: none;
}

.slider-card {
    height: 232px;
    width: 232px;
    margin: 0 auto;
    color: #333;
    padding-bottom: 0.75rem;
    font-family: sans-serif;
}

.container-gradient1 {
    background: linear-gradient(to right, #FFF 0%, rgba(255, 255, 255, 0.00) 25%);
    z-index: 20;
}

.container-gradient2 {
    background: linear-gradient(to left, #FFF 0%, rgba(255, 255, 255, 0.00) 25%);
    z-index: 20;
}

.card-ai {
    background: linear-gradient(180deg, rgba(222, 108, 168, 0.3), rgba(222, 108, 168, 0));
    border-radius: 50%;
}

.card-devmob {
    background: linear-gradient(180deg, rgba(146, 202, 77, 0.3), rgba(146, 202, 77, 0));
    border-radius: 50%;
}

.card-devweb {
    background: linear-gradient(180deg, rgba(80, 226, 194, 0.3), rgba(80, 226, 194, 0));
    border-radius: 50%;
}

.card-cloud {
    background: linear-gradient(180deg, rgba(0, 191, 242, 0.3), rgba(0, 191, 242, 0));
    border-radius: 50%;
}

.card-uxui {
    background: linear-gradient(180deg, rgba(240, 112, 32, 0.3), rgba(240, 112, 32, 0));
    border-radius: 50%;
}

.slider-title {
    margin-top: -18px;
}

.s-t-1 {
    @include text(25px, normal, 700, $color-default);
}

.s-t-2 {
    @include text(25px, normal, 400, $color-default);
}

.slider-arrow {
    border-radius: 42px;
    background: rgba(80, 226, 194, 1);
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.arrow-right {
    width: 12.5px;
    height: 20px;
    flex-shrink: 0;
}

/* Solutions */

.solutions {
    padding-top: 80px;
}

.container-solutions {
    margin-top: 52px;
}

.card-2 {
    width: 270px;
    height: 230px;
    border-radius: 25px;
    border: 2.5px solid rgba(245, 245, 245, 1);
    background: #FFF;
    margin: 20px auto;
    flex-shrink: 0;
}

.card-2:hover{
    filter: drop-shadow(0px 9px 40px rgba(42, 44, 104, 0.10));
}

.card-img-solutions {
    margin: 32px 107px 10px 108px;
    width: fit-content;
    flex-shrink: 0;
}

.card-title-solutions {
    @include text(23px, 120%, 700, $color-default);
}

.card-text-solutions {
    @include text(15px, 160%, 400, $color-secondary);
    font-family: $font-secondary;
}

/* Case Studies */

.case-studies {
    margin-top: 206px;
    min-height: 600px;
}

.cs-carousel {
    margin-top: 70px;
}

.cs-container {
    padding-top: 30px;

    @media #{$large-down} {
        max-width: 100%;
        padding-top: 15px;
        margin-top: 10px;
    }
}

.cs-title {
    @include text(29px, 120%, 700, $color-default);
}

.cs-desc {
    @include text(14px, 28px, 400, $color-secondary);
    font-family: $font-secondary;
    margin-top: 30px;
}

.row-desc-img {
    margin-top: 24px;

    @media #{$large-down} {
        gap: 22px;
    }

    @media #{$medium-down} {
        justify-content: center;
    }
}

.col-desc-img {
    margin-right: 20px;
}

.cs-img-pc {
    display: block;
    width: 529px;
    height: 302px;

    @media #{$large-down} {
        display: none;
    }
}

.cs-img-logo {
    display: none;

    @media #{$large-down} {
        display: block;
        margin: auto;
        width: 341px;
        top: 5%;
    }
}

.img-back {
    width: 410px;
    height: 500px;
    background-color: $color-primary;
    bottom: -7%;
    left: 0;
    border-radius: 0 225px 0 0;
    z-index: -1;

    @media #{$large-down} {
    border-radius: 0;
    width: 100%;
    top: 0;
    height: 100%;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 42px !important;
    height: 42px;
    position: unset !important;
    opacity: 1 !important;
    border-radius: 50%;
    border: 2px solid $color-default;
}

.btn-decouvrir {
    @extend .btn-career;
    width: 138px;
    color: $color-primary;
    background: $color-default;
    margin-top: 50px;
}

.cs-slider-btn {
    display: flex;
    gap: 20px;
    z-index: 10;
    position: absolute;
    left: 16%;

    @media #{$large-down} {
        justify-content: center;
        left: 0;
    }
}

.small-title {
    @include text(14px, 28px, 400, $color-default);
    font-family: $font-secondary;
}

.caseStudies-link {
    @extend .btn-link;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.c-i-cs {
    bottom: 55px;
}

.carousel-control-prev-icon {
    background-image: url("../img/arrow-left-3.png");
    width: 8.5px;
    height: 17px;
}

.carousel-control-next-icon {
    background-image: url("../img/arrow-right-2.png");
    width: 8.5px;
    height: 17px;
}

@media #{$medium-down} {
    .col-img {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .col-text {
        left: 0;
        text-align: center;
    }
}

/* Journal */

.journal {
    margin-top: 141px;
}

.row-journal {
    margin: 40px auto;
}

.article-title {
    @include text(20px, 150%, 400, $color-default);
}

.article-title-b {
    margin-top: 20px;
}

.article-author {
    @include text(14px, 28px, 400, $color-secondary);
    font-family: $font-secondary;
}

.article-date {
    @include text(14px, 28px, 400, $color-secondary);
    font-family: $font-secondary;
    margin-top: -25px;
}

.btn-link {
    @include text(16px, normal, 400, $color-default);

    &:hover {
        color: #000;
    }
}

.ms-btn {
    margin-top: 20px;
}

.col-j {
    margin-bottom: 20px;
}

/* Careers */

.careers {
    margin-top: 85px;
}

.careers-container {
    background-color: $color-default;
    border-radius: 0 0 50px 0;

    @media #{$small-down} {
        border-radius: 0;
    }
    
    @media #{$medium-up} {
        height: 342px;
    }
}

.careers-btn {
    @extend .btn-career;
    background: $color-primary;

    &:hover {
        background: darken($color-primary, 30%);
        border: none;
      }
}

.careers-title {
    @include text(37px, normal, 400, #FFF);
}

.careers-desc {
    @include text(14px, 28px, 400, #FFF);
    font-family: $font-secondary;
}

.careers-img {
    padding: 5%;
    border-radius: 0 0 75px 0;

    @media #{$small-down} {
        border-radius: 0;
    }
}

.careers-col-1 {
    margin-left: 15%;

    @media #{$medium-down} {
        padding: 20px 0;
    }
}

.y-rec {
    background-color: $color-primary;
    width: 20px;
    height: 148px;
    border-radius: 0 0 20px 0;
    left: 30px;
    top: 30px;

    @media #{$x-small-down} {
        width: 15px;
        left: 20px
    }
}

/* Testimonials */

.testimonials {
    margin-top: 101px;
    background: #F0F0F4;
}

.testi-slider-btn {
    right: 21%;
    gap: 20px;
    z-index: 10;
    bottom: 30%;

    @media screen and (max-width: 991px) {
        bottom: 25%;
    }

    @media #{$small-down} {
        bottom: 3% !important;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    @media #{$medium-down} {
        gap: 10px;
        bottom: 20%;
    }
}

.testi-img {
    border-radius: 50%;
}

.testi-row {
    margin-top: 123px;
    margin-bottom: 122px;
    background: white;
    width: 829px;
    border-radius: 15px 15px 15px 0;
    filter: drop-shadow(0px 9px 40px rgba(42, 44, 104, 0.10));

    @media screen and (max-width: 991px) {
        width: 100%;
    }
    
    @media #{$medium-down} {
        flex-direction: column;
        width: 100%;
    }
}

.testi-row::after {
    content: url(../img/testi_before.png);
    position: absolute;
    left: 0;
    left: 5%;
    top: -8%;
}

.testi-row::before {
    content: "";
    background-color: white;
    position: absolute;
    height: 20px;
    width: 39px;
    left: 0;
    bottom: -19px;
    clip-path: polygon(0 0, 100% 0%, 0% 100%, 0 50%);
}

.col-testi-text {
    padding: 30px 20px;
}

.testi-title {
    @include text(29px, 120%, 700, $color-default);
    margin-top: 20px;
    margin-bottom: 19px;

    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

.testi-desc {
    @include text(15px, 160%, 400, #212121);
    font-family: $font-secondary;
    margin-bottom: 59px;

    @media #{$small-down} {
        margin-bottom: 20px;
    }
}

.testi-author {
    @include text(15px, normal, 600, #2E2E2E);
    font-family: $font-secondary;
    margin: 0;
}

.testi-author-desc {
    @include text(14px, normal, 400, #2D2D2D);
    font-family: $font-secondary;
    opacity: 0.6012277007102966;
}

.indicator [data-bs-target] {
    height: 0px;
    border: none;
}

.indicator {
    bottom: 15%;
    margin-top: 4rem;

    .btn{
        height: 5px;
        width: 5px;
        background: $color-default;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &.active {
            width: 20px;
        }
    }

    @media screen and (max-width: 991px) {
        bottom: 10%;
    }
}

@media screen and (max-width: 991px) {
    .testi-col-img {
        margin-top: 25px;
    }
}

/* footer */

.footer {
    background: rgba(28, 38, 75, 1);
    color: white;
}

.footer-text {
    @include text(13px, normal, 400, #FFF);
    font-family: $font-secondary;
}

.copyright {
    @include text(13px, normal, 400, #FFF);
    font-family: $font-secondary;
    opacity: 0.6012277007102966;
}

.bgfooter {
    content: url(../img/map.png);
    left: -15%;
    top: -11%;

    @media #{$medium-down} {
        content: "" !important;
    }
}

.text-tech-part {
    @include text(20px, normal, 500, #FFF);
    font-family: $font-tech;
    opacity: 0.6000000238418579;
}

.footer-btn-email {
    background-color: $color-primary;
    width: 90px;
    height: 40px;
    border-radius: 20px !important;
    right: 0;
    flex-shrink: 0;
}

.email-input:focus {
    background-color: transparent;
    box-shadow: none;
    color: #FFF;
}

.div-hr1 {
    padding: 0 12px;
}

.hr1 {
    width: 80%;

    @media #{$medium-down} {
        width: 100%;
    }
}

.hr2 {
    width: 95.5%;
}

input::placeholder {
    @include text(13px, normal, 400, rgba(245, 245, 245, 0.5) !important);
    font-family: $font-secondary;
}

.email-input {
    border-radius: 19px !important;
    background: rgba(245, 245, 245, 0.09);
}

.email-input {
    max-width: 397px;
}

.col-icon-text {
    gap: 15px;
}

.title-country {
    @include text(21px, normal, 400, $color-primary);
}

.phone-num {
    @include text(16px, normal, 400, #FFF);
}

.col-desc {
    width: 58%;
}

.logo-footer {
    margin-left: 28px;
    margin-bottom: 8px;
}

@media #{$medium-down} {
    .footer-row {
        flex-direction: column;
        left: 0;
    }
}

@media #{$x-small-down} {
    .row-partners {
        gap: 10px;
    }
}